audio {
  margin-left: 550px;
}

button.start {
  transition: background-color .7s ease;
  background-color: #d50000;
	border: none;
	size: 40px;
	border-radius: 10px;
	margin-right: 20px;
  margin-top: 8px;
	padding: 10px;
}

button.start:hover {
  background-color: #65ea00;
}

button.reset {
	transition: background-color .7s ease;
	background-color: #2979ff;
	border: none;
	size: 40px;
	border-radius: 10px;
	margin-left: 20px;
  margin-top: 8px;
	padding: 10px;
}

button.reset:hover {
	background-color: #ffeb3b;
}

.button {
	display: flex;
	justify-content: center;
	font-family: 'Dokdo', cursive;
}

p {
	text-align: center;
	font-family: 'Dokdo', cursive;
	font-size: 20px;
}

#new-phrase {
	margin-left: 545px;
}

.cityscape {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
		"a, b, c"
		"e, f, g"
		"h, i, j";
	width: 1100px;
	height: 616px;
	margin-top: 50px;
	margin-left: 70px;
}

.clock {
	display: flex;
	justify-content: center;
}

.game {
	display: flex;
	flex-direction: row;
	margin-left: 80px;
}

#hidden-img {
	width: 1080px;
	height: 615px;
}


.a {
	width: 100%;
	height: 100%;
	position: relative;
}

.b {
	width: 100%;
	height: 100%;
	position: relative;
}

.c {
	width: 100%;
	height: 100%;
	position: relative;
}

.d {
	width: 100%;
	height: 100%;
	position: relative;
}

.e {
	width: 100%;
	height: 100%;
	position: relative;
}

.f {
	width: 100%;
	height: 100%;
	position: relative;
}

.g {
	width: 100%;
	height: 100%;
	position: relative;
}

.h {
	width: 100%;
	height: 100%;
	position: relative;
}

.i {
	width: 100%;
	height: 100%;
	position: relative;
}
/*cat*/
.item1 {
	position: absolute;
	width: 40px;
	height: 40px;
	margin-left: 130px;
	margin-top: 130px;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/*UFO*/
.item2 {
	position: absolute;
	width: 30px;
	height: 30px;
	margin-left: 50px;
	margin-top: 60px;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/*3D glasses*/
.item3 {
	position: absolute;
	width: 30px;
	height: 30px;
	margin-left: 30px;
	margin-top: 90px;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/*hive*/
.item4 {
	position: absolute;
	width: 30px;
	height: 30px;
	margin-left: 10px;
	margin-top: 50px;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/*zombie*/
.item5 {
	position: absolute;
	width: 30px;
	height: 30px;
	margin-left: 100px;
	margin-top: 50px;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/*ghost*/
.item6 {
	position: absolute;
	width: 30px;
	height: 30px;
	margin-left: 140px;

}
/*garlic*/
.item7 {
	position: absolute;
	width: 30px;
	height: 30px;
	margin-left: 100px;
	margin-top: 100px;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/*stop sign*/
.item8 {
	position: absolute;
	width: 30px;
	height: 30px;
	margin-top: 150px;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/*hot air baloon*/
.item9 {
	position: absolute;
	width: 30px;
	height: 30px;
	margin-left: 130px;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

p.scale-down-hor-center {
	margin-left: 565px;
	margin-top: 90px;
	font-size: 25px;
}

.scale-down-hor-center {
	-webkit-animation: scale-down-hor-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
	        animation: scale-down-hor-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-4-6 3:55:51
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-down-hor-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-down-hor-center {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0.3);
            transform: scaleX(0.3);
  }
}
@keyframes scale-down-hor-center {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0.3);
            transform: scaleX(0.3);
  }
}
