audio {
  outline: none;
  filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
  width: 200px;
  height: 25px;
}

.audio-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#down-arrow {
  font-size: 12em;
  display: flex;
  justify-content: center;
  font-family: "Sniglet", cursive;
}

h2 {
  font-family: "Sniglet", cursive;
  font-weight: 800;
  font-size: 4em;
  display: flex;
  justify-content: center;
}

#start-icon {
  width: 5vw;
}

#restart-icon {
  width: 5vw;
}

.gameplay-intro-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gameplay-intro {
  line-height: 3.5em;
  letter-spacing: 0.3vw;
  font-size: 1em;
  margin-bottom: -12vh;
  font-family: "Sniglet", cursive;
}

button {
  transform: translate(-50%, -80%);
  color: snow;
  border: none;
  border-radius: 10px;
  outline: none;
  background: linear-gradient(45deg, #db50ad, #0fc2c2, #eedf56);
  background-size: 400% 400%;
  box-shadow: 1vw 1vw 0 rgb(255, 130, 130);
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 10px;
}
button:hover {
  animation: gradient 10s ease infinite;
  box-shadow: 0.2vw 0.2vw 0 lightcoral;
}

@keyframes gradient {
  50% {
    background-position: 100% 0;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.start-button {
  width: 5vw;
  border: none;
  font-family: "Sniglet", cursive;
  font-size: 1.2em;
  outline: none;
}

.reset-button {
  width: 6vw;
  font-family: "Sniglet", cursive;
  font-size: 1.2em;
  outline: none;
  text-align: center;
}

#new-phrase {
  font-size: 1.2em;
  font-family: "Sniglet", cursive;
  padding-top: 30px;
}

.phrases-container {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

.cityscape {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "a, b, c"
    "e, f, g"
    "h, i, j";
  width: 1100px;
  height: 616px;
  margin-top: 50px;
  margin-left: 70px;
}

.clock-container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

#clock {
  font-family: "Sniglet", cursive;
  font-size: 1.5em;
}

.game-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#hidden-img {
  width: 1080px;
  height: 615px;
}

.a {
  width: 100%;
  height: 100%;
  position: relative;
}

.b {
  width: 100%;
  height: 100%;
  position: relative;
}

.c {
  width: 100%;
  height: 100%;
  position: relative;
}

.d {
  width: 100%;
  height: 100%;
  position: relative;
}

.e {
  width: 100%;
  height: 100%;
  position: relative;
}

.f {
  width: 100%;
  height: 100%;
  position: relative;
}

.g {
  width: 100%;
  height: 100%;
  position: relative;
}

.h {
  width: 100%;
  height: 100%;
  position: relative;
}

.i {
  width: 100%;
  height: 100%;
  position: relative;
}
/*cat*/
.item1 {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-left: 130px;
  margin-top: 130px;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/*UFO*/
.item2 {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 50px;
  margin-top: 60px;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/*3D glasses*/
.item3 {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 30px;
  margin-top: 90px;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/*hive*/
.item4 {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-top: 50px;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/*zombie*/
.item5 {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 100px;
  margin-top: 50px;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/*ghost*/
.item6 {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 140px;
}
/*garlic*/
.item7 {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 100px;
  margin-top: 100px;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/*stop sign*/
.item8 {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-top: 150px;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/*hot air baloon*/
.item9 {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 130px;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.background-color h2,
#down-arrow {
  color: #000;
  letter-spacing: 1vw;
  background: rgba(255, 253, 160, 1);
  background: -webkit-linear-gradient(
      left,
      #d820f5e8 0%,
      #97fba0 25%,
      #ffca28 50%,
      #e040fb 100%
    )
    repeat;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-animation-name: masked-animation;
  -webkit-animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes masked-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -8000px -3000px;
  }
}
